/* General styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 1rem;
    text-align: center;
}

h1 {
    color: #ffffff;
    margin: 0;
    font-weight: 500;
}

main {
    padding: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.file-input-container {
    margin-bottom: 1rem;
}

/* Input field styles */
input[type="file"] {
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

/* Canvas container styles */
.canvas-container {
    display: inline-block;
    background-color: #222222;
    border: 3px solid #4CAF50;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 0.5rem 1rem 0.5rem;
}

h3 {
    color: #4CAF50;
    font-weight: 500;
    margin: 0 0 0.5rem 0;
}

canvas {
    display: block;
}
