<!DOCTYPE html>
<html>
<head>
    <title>Model Retraining</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Retrain Model</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <h4>Select Dataset: </h4>
            <label for="dataset" class="custom-file-upload">Choose File</label>
            <input type="file" name="dataset" id="dataset" accept=".zip" onchange="displayFileName(this)">
            <span class="file-name-display" id="file-name-display"></span>
            
            <h4>Select Model: </h4>
            <select name="model" required>
                {% for model in models %}
                <option value="{{ model }}">{{ model }}</option>
                {% endfor %}
            </select>
            
            <label for="epochs">Number of epochs:</label>
            <input type="number" name="epochs" min="1" value="1" required> <!-- Default epoch value 1 -->
            
            <button type="submit">Start Training</button>
        </form>
        <!-- Display flashed messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% if file_exists("model_retrained.h5") %}
            <a href="{{ url_for('download') }}" class="button" id="download-button">Download Retrained Model</a>
        {% endif %}
    </div>
</body>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</html>


