<!DOCTYPE html>
<html>
<head>
    <title>Model Retraining</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">

        <h1>Retrain Model</h1>
        <h4>Select Dataset: </h4>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="dataset" accept=".zip">
            <button type="submit">Upload</button>           
        </form>
        <!-- Display flashed messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form action="/" method="post">
            <label for="epochs">Number of epochs:</label>
            <input type="number" name="epochs" min="1" value="1" required> <!-- Default epoch value 1 -->
            <button type="submit">Start Training</button>
        </form>
        {% if file_exists("model_retrained.h5") %}
            <a href="{{ url_for('download') }}" class="button">Download Retrained Model</a>
        {% endif %}
    </div>
</body>
</html>



